.greenbg
{
	background: #4caf86d6;
	height: 80px;
	padding-left: 524px;
}
.yellowbg1
{
	background:yellow;
	height: 250px;
}

.yellowbg2
{
	background: yellow;
	height:250px;
}
.heading
{
	margin-left: 203px;
}
.forspace
{
	height: 100px;
	background:#9e9e9e7a;
}
.forconversation
{
	height:100px;
	background: #9e9e9e7a;
}